[Unit]
Description=Bartender
Documentation=https://github.com/qspidy/Bartender
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/home/user/Bartender
ExecStart=/home/Bartender/bartender
Restart=always
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target
